<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
                <img src="assets/images/profile/profile1.png"  class="" alt="" width="120" >
        </div>        
        <div class="col col-lg-4 mt-4">
            <p> <b>Nombre</b> : Lucia Rojas</p>
            <p> <b>Sección</b> : Aula 5 años</p>
        </div>
        <div class="col col-lg-4 mt-4">
            <p> <b>Hora Ingreso:</b> 7:30 </p>
            <p> <b>Hora Salida:</b>  14:00 </p>
    
        </div>
    
        <div class="col col-lg-2 mt-4">
            <p> <b>Sueldo del mes</b> </p>    
        </div>   
    </div>

    <hr>

    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
                <img src="assets/images/profile/profile1.png"  class="" alt="" width="120" >
        </div>        
        <div class="col col-lg-4 mt-4">
            <p> <b>Nombre</b> : Lucia Rojas</p>
            <p> <b>Sección</b> : Aula 5 años</p>
        </div>
        <div class="col col-lg-4 mt-4">
            <p> <b>Hora Ingreso:</b> 7:30 </p>
            <p> <b>Hora Salida:</b>  14:00 </p>
    
        </div>
    
        <div class="col col-lg-2 mt-4">
            <p> <b>Sueldo del mes</b> </p>    
        </div>   
    </div>

    <hr>

    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
                <img src="assets/images/profile/profile1.png"  class="" alt="" width="120" >
        </div>        
        <div class="col col-lg-4 mt-4">
            <p> <b>Nombre</b> : Lucia Rojas</p>
            <p> <b>Sección</b> : Aula 5 años</p>
        </div>
        <div class="col col-lg-4 mt-4">
            <p> <b>Hora Ingreso:</b> 7:30 </p>
            <p> <b>Hora Salida:</b>  14:00 </p>
    
        </div>
    
        <div class="col col-lg-2 mt-4">
            <p> <b>Sueldo del mes</b> </p>    
        </div>   
    </div>

    
</div>